[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
skpy = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
